.mainchat
  .mainchat__header
    %p.mainchat__title-name
      = @group.name
    .mainchat__memberlist
      %a.mainchat__menber-font
        Member :
        - @group.users.each do |user|
          = user.name
    .mainchat__edit
      = link_to edit_group_path(@group), class: "mainchat__btn" do
        Edit
  .mainchat__chat-display
    = render @messages
  .mainchat__form
    .mainchat__message-input
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'mainchat__initial-message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'mainchat__image-btn' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'mainchat__image-btn-file'
        = f.submit 'Send', class: 'mainchat__submit-btn'