.side-bar
  .side-bar__header
    .side-bar__user-icon
      .side-bar__name
        = current_user.name
      .side-bar__icon
        .side-bar__btn
          = link_to new_group_path do
            = icon('fas', 'edit')
            %span<>
        .side-bar__btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
            %span<>
  .side-bar__group
    .side-bar__group-name
      %p text
      %p.side-bar__message メッセージがありません
  .side-bar__group
    .side-bar__group-name
      %p text2
      %p.side-bar__message メッセージがありません
  .side-bar__group
    .side-bar__group-name
      %p text3
      %p.side-bar__message メッセージがありません